# IntelliJ
/lib/
.idea/
*.iml
*.iws

!dat16j-chat.iml

# macOS
.DS_Store

# Maven
log/
target/

# Local configuration files
*_secret.*

# Client app
src/main/resources/client/

src/main/java/ui/
src/main/java/client/
src/main/java/util/UIValidator.java
