.root {
  -cp-error-color: #FF3B30;



  -cp-control-base-gradient: linear-gradient(rgb(198, 197, 198), rgb(175, 175, 175));
  -cp-ui-shadow-base-color-one: rgba(175, 175, 175, .05);
  -cp-ui-shadow-base-color-two: rgba(175, 175, 175, .14);
  -cp-ui-shadow-base-color-three: rgba(175, 175, 175, .18);

  -cp-ui-bg-light-color: rgb(254, 254, 254);
  -cp-ui-bg-base-color: rgb(247, 247, 247);
  -cp-ui-bg-dark-color: rgb(227, 227, 227);


  -cp-ui-border-light-color: rgb(232, 232, 232);
  -cp-ui-border-base-color: rgb(228, 228, 228);
  -cp-ui-border-dark-color:rgb(172, 172, 172);

  -cp-control-light-color: rgb(160, 160, 160);
  -cp-control-base-color: rgb(102, 102, 102);
  -cp-control-dark-color: rgb(59, 55, 60);

  -cp-control-active-color: rgb(0, 150, 229);

  -fx-accent: -cp-control-active-color;
  -fx-focus-color: -cp-control-active-color;
}


.label {
  -fx-text-fill: -cp-control-base-color;
}

/*
 *   List View
 */
.list-view {
  -fx-background-color: -cp-ui-border-base-color, -cp-ui-bg-base-color;
  -fx-background-insets: 0, 0 2 0 0;
  -fx-padding: 0 2 0 0;
}

.list-cell,
.list-cell:odd,
.list-cell:event {
  -fx-background-color: -cp-ui-bg-base-color;
  -fx-padding: 5 0 5 0;
  -fx-text-fill: -cp-control-light-color;
}


.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .cp-tab-cell-label,
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .cp-tab-cell-label {
  -fx-text-fill: -cp-control-active-color;
}

.list-view .cp-tab-cell {
  -fx-background-radius: 2;
  -fx-background-color: -cp-ui-border-light-color;
  -fx-background-insets: 0;
  -fx-cursor: hand;
}

.list-view .cp-tab-cell-label {
  -fx-font-size: 15;
  -fx-text-fill: -cp-control-base-color;
  -fx-font-weight: 900;
}

.list-view .cp-tab-shortcut {
  -fx-font-size: 11;
  -fx-font-weight: 700;
  -fx-font-family: 'PT Mono', 'Courier New', monospace;
  -fx-text-fill: -cp-control-light-color;
}

/*
 *  Session sidebar
 */
.sidebar-header .user-list-label,
.sidebar-header .button.text-button {
  -fx-padding: 6 0 6 0;
  -fx-font-size: 12;
  -fx-font-weight: 700;
}

.sidebar-header .user-list-label{
  -fx-text-fill: -cp-control-base-color;
}

.user-list-view {
  -fx-padding: 3 0 0 0;
  -fx-background-insets: 0, 0;
}

.user-list-view .list-cell,
.user-list-view .list-cell:odd,
.user-list-view .list-cell:event {
  -fx-padding: 2 0 2 0;
  -fx-text-fill: -cp-control-dark-color;
}



/*
 *  Session content
 */
.message-list-view {
  -fx-background-color: -cp-ui-border-base-color, -cp-ui-bg-light-color;
  -fx-background-insets: 0, 0;
}

.message-list-view .list-cell,
.message-list-view .list-cell:odd,
.message-list-view .list-cell:event {
  -fx-background-color: -cp-ui-bg-light-color;
  -fx-padding: 5 0 5 0;
}

.message-list-view .list-cell .message-author {
  -fx-font-size: 13;
  -fx-font-weight: 700;
  -fx-font-family: 'PT Mono', 'Courier New', monospace;
  -fx-text-fill: -cp-control-light-color;
  -fx-padding: 1 5 0 0;
}

.message-list-view .list-cell .current-author .message-author {
  -fx-text-fill: -cp-control-active-color;
}


.message-list-view .list-cell .message-content {
  -fx-font-size: 14;
  -fx-text-fill: -cp-control-dark-color;
  -fx-padding: 0 6 0 0;
}


.footer-pane {
  -fx-padding: 1 8 0 0;
  -fx-background-color: -cp-ui-border-base-color, -cp-ui-bg-light-color;
  -fx-background-insets: 0, 1 0 0 0;
}

.footer-pane .text-field {
  -fx-padding: 8;
  -fx-background-insets: 0, 0;
}


/*
 *  Panes
 */
.dark-pane {
  -fx-background-color: red;
}

.base-pane {
  -fx-background-color: -cp-ui-bg-base-color;
}

.light-pane {
  -fx-background-color: -cp-ui-bg-light-color;
}

.disconnect-overlay {
  -fx-background-color: rgba(247, 247, 247, .78);
}


/*
 *   Split Pane
 */
.split-pane {
  -fx-padding: 0;
}
.split-pane > .split-pane-divider {
  -fx-padding: 0 1 0 1;
}
.split-pane:horizontal > .split-pane-divider {
  -fx-background-color: -cp-ui-border-base-color;
  -fx-background-insets: 0 0 0 0;
}


/*
 *   Inputs
 */
.text-field {
  -fx-padding: 5 12 4 8;
  -fx-border-width: 0;
  -fx-border-insets: 0, 0;
  -fx-background-color: rgb(210, 210, 210), -cp-ui-bg-light-color;
  -fx-background-insets: 0, 1;
  -fx-background-radius: 3, 2;
  -fx-text-fill: -cp-control-base-color;
}

.text-field:hover,
.text-area:hover {
  -fx-text-fill: -cp-control-base-color;
}

.text-field {
  -fx-prompt-text-fill: -cp-control-base-color;
}
.text-field:focused {
  -fx-prompt-text-fill: -cp-control-base-color;
}

.text-field:focused,
.text-area:focused {
  -fx-background-color: -cp-control-active-color, -cp-ui-bg-light-color;
  -fx-background-insets: 0, 1;
  -fx-text-fill: -cp-control-dark-color;
}

/*
 *  Buttons
 */
.button {
  -fx-padding: 3 12 6 12;
  -fx-border-width: 0;
  -fx-background-color: -cp-ui-shadow-base-color-one, -cp-ui-shadow-base-color-two, -cp-ui-shadow-base-color-three,
      -cp-control-base-gradient, white;
  -fx-background-insets: 0, 0 0 1 0, 0 0 2 0, 0 0 3 0, 1 1 4 1;
  -fx-background-radius: 7, 6, 5, 4, 4;
  -fx-text-fill: -cp-control-dark-color;
  -fx-cursor: hand;
}

.button.text-button {
  -fx-padding: 1;
  -fx-border-width: 0;
  -fx-text-fill: -cp-control-active-color;
  -fx-background-color: transparent;
  -fx-cursor: hand;
}

.button.text-button:hover {
  -fx-text-fill: -cp-control-active-color;
  -fx-underline: true;
}

.button.info-button {
  -fx-padding: 3 6 6 6;
  -fx-background-color: transparent;

  -fx-font-weight: 700;
  -fx-font-family: 'PT Mono', 'Courier New', monospace;
  -fx-text-fill: -cp-control-base-color;

  -fx-cursor: hand;
}

.button.info-button:hover {
  -fx-text-fill: -cp-control-active-color;
}

/*
 *  Scroll
 */
.scroll-bar:vertical {
  -fx-background-color: transparent;
  -fx-padding: 5 2;
}

.scroll-bar:horizontal {
  -fx-background-color: transparent;
  -fx-padding: 2 5;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
  -fx-background-color: -cp-ui-bg-base-color;
  -fx-background-insets: 0;
  -fx-background-radius: 2;
  -fx-border-radius: 0;
  -fx-border-width: 0;
  -fx-padding: 0;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0em;
  -fx-padding: 0 0 6 0;
}


.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0em;
  -fx-padding: 0 6 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color: -cp-ui-border-base-color;
  -fx-background-insets: 0;
  -fx-background-radius: 2;
  -fx-border-radius: 0;
  -fx-border-width: 0;
  -fx-padding: 0;
}

.virtual-flow:hover .scroll-bar:horizontal .thumb,
.virtual-flow:hover .scroll-bar:vertical .thumb {
  -fx-background-color: derive(-cp-ui-border-base-color, -16%);
}

.corner {
  -fx-background-color: transparent;
}
